.container {
  max-width: 1000px;
  margin: auto;
  padding: 50px;
}

.navbar {
  height: 10vh;
  background-color: #364051;
  color: white;
  position: sticky;
  top: 0px;
  z-index: 2;
}

.navbar .navbar-wrapper {
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .navbar-wrapper h1 {
  font-size: 28px;
  cursor: pointer;
}
.settings-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 180px;
}
.navbar .navbar-wrapper .settings-wrapper h3 {
  display: flex;
  align-items: center;
}
.navbar .navbar-wrapper .settings-wrapper h3:hover {
  cursor: pointer;
  color: #ccc;
}

/* Expense Details */
.expensedetails {
  height: 250px;
  background-color: #f7f7f7;
  /*#f7f7f7*/
  position: relative;
  z-index: 1;
}
.expensedetails .something {
  position: absolute;
  content: "";
  display: block;
  height: 100px;
  width: 100%;
  background-color: silver;
  bottom: 50%;
  transform: translateY(50%);
  z-index: -1;
}

.expense-content h1 {
  margin-bottom: 30px;
  font-weight: 500;
}

.expense-content .add-expense-btn {
  padding: 15px 20px;
  border: none;
  outline: none;
  background-color: #1c88bf;
  font-size: 18px;
  color: white;
}

/* Filter form */
.filter-content {
  display: flex;
  justify-content: space-between;
}

.filter-content input {
  border: 1px solid #ccc;
  width: 250px;
  padding: 15px 18px;
  font-size: 18px;
  border-radius: 5px;
}

.filter-content input::placeholder {
  font-size: 18px;
}

.filter-content select {
  width: 150px;
  border: 1px solid cyan;
  padding: 0 10px;
  font-size: 18px;
}

.expense-wrapper-heading {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  color: #666;
  font-weight: 500;
}

.ExpenseItemList {
  list-style: none;
  padding: 30px;
  margin-top: -80px;
}

.expense-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  color: #313131;
  margin: 18px 0;
  border: 1px solid #ddd;
  padding: 15px;
  cursor: pointer;
}
.expense-item:hover {
  background-color: #f7f7f7;
}
.expense-item h5 {
  margin-bottom: 10px;
}

.expense-item h6 {
  font: 8px;
}

/* Addexpense page */

.formWrapper {
  height: 800px;
  padding: 60px 0;
}

.inputWrapper {
  margin-top: 56px;
  padding: 40px;
  max-width: 1000px;
  margin: auto;
  height: 650px;
  /* background-color: rgb(238, 238, 238); */
}

.inputWrapper button {
  width: 100%;
  height: 60px;
  outline: none;
  border: none;
  border-radius: 7px;
  background-color: #726e6e;
  color: white;
  font-size: 20px;
}
.inputWrapper input {
  display: block;
  width: 100%;
  height: 55px;
  margin-bottom: 78px;
}

.inputWrapper textarea {
  width: 100%;
  margin-bottom: 60px;
}

/*Settings Page*/

.settings-input {
  /* margin-top: 20px; */
  height: 700px;
  width: 1700px;
  border-radius: 10px;
  text-align: center;
  position: relative;
  /* overflow: hidden; */
}

.settings-input .first {
  margin-bottom: 40px;
  height: 350px;
  text-align: center;
  padding: 50px 0;
}
.settings-input .first ul {
  list-style: none;
  display: flex;

  justify-content: space-between;
  padding: 0 30px;
  height: 250px;
}
.title {
  margin-bottom: 10px;
}
.settings-input .first ul li {
  height: 100%;
  width: 100%;
  color: white;
  border: 1px solid silver;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 30px;
  margin: 0 10px;
  cursor: pointer;
}
.settings-input .first ul li:hover {
  border: 1px solid orange;
}

.settings-input .first ul .Dark {
  background-color: rgb(25, 28, 44);
}
.settings-input .first ul .Light {
  background-color: white;
  color: black;
}
.settings-input .first ul .Nature {
  background-color: rgb(45, 133, 45);
}
.settings-input .first ul .Tomato {
  background-color: rgb(238, 85, 15);
}
.settings-input .first h3 {
  margin-bottom: 45px;
}
.settings-input .second {
  text-align: center;
  height: 100px;
  margin-bottom: 13px;
  padding: 30px 0;
}
.settings-input .second h3 {
  margin-bottom: 15px;
}
.settings-input .second {
  position: relative;
}
.settings-input .second select {
  display: block;
  height: 40px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  border: none;
  outline: none;
}

.settings-input .first,
.settings-input .second {
  width: 100%;
  border-radius: 10px;
  border: none;
  background-color: #ccf2f4;
}

.applychanges {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  outline: none;
  height: 60px;
  width: 150px;
  border-radius: 10px;
  font-size: 20px;
  background-color: rgb(141, 133, 133);
  color: white;
  cursor: pointer;
}

.darkBtn {
  background-color: #1c88bf;
}
.greenBtn {
  background-color: #444941;
}
/* Body */
.main {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.darkMain {
  background-color: "#040434";
}
.lightMain {
  background-color: white;
}
